{
  "name": "Trello",
  "label": "Trello",
  "description": "Provides actions to integrate with Trello",
  "group": "",
  "artifactName": "",
  "packageVersion": "1.0.0",
  "codeVersion": "",
  "commands": []
}